.contact-info, .payment-method__text-input{
  p,label, h2, h5{
    color: $unnamed-color-172026;
  }
  h5{
    font-size: $font-size-20;
    line-height: $line-spacing-24;
    font-weight: $font-weight-bold;
    margin: 0 0 8px 0;
  }
  > h5{
    @include desktop-down{
      margin-bottom: 16px;
    }
  }
  > p{
    font-size: 16px;
    line-height: $line-spacing-24;
  }
  .wrapper{
    flex-direction: column-reverse;
    width: calc(50% - 32px);
    margin: 0 16px;
    padding: 8px 0;
    justify-content: flex-start;
    @include tablet-down{
      width: 100%;
      max-width: 436px;
    }
    &.zip{
      width: 128px;
      @include tablet-down{
        width: 100%;
        max-width: 436px;
      }
    }

    span{
      float: right;
      color: $gray-d;
    }
  }
  input, select{
    width: 100%;
    max-width: 436px;
    height: 44px;
    padding: 11px 12px;
    font-size: $font-size-16;
    color: $gray-d2;    
    border: 2px solid $gray-l2;
    border-radius: 8px;
    transition: all ease-out 0.3s;
    &:focus{
      outline: $primary-brand1 solid 4px;
    }
    
  }
    .select-country{
      width: calc(50% - 32px);
      margin: 16px 17px 32px 16px;
      position: relative;
      @include tablet-down{
        width: 100%;
        margin: 8px 16px 8px;
      }
    }
    .select-state{
      width: 274px;
      padding: 8px 0;
      position: relative;
      @include desktop{
        width: calc(50% - 32px);
        margin: 0 16px;
      }
      @include desktop-down{
        margin: 0 16px;
      }
      @include tablet{
        width: calc(50% - 32px);
      }
      @include tablet-down{
        width: 100%;
      }
      select{
        width: 100%;
        option{
          padding: 10px;
        }
      }
    }

    .select-country, .select-state{
      select{
        appearance: none;
        position: relative;
      }
      span{
        max-width: 436px;
        text-indent: -9999px;
        position: absolute;
        height: 42px;
        width: 100%;
        &::before {
          content: "";
          display: block;
          position: absolute;
          right: 15px;
          top: 0;
          bottom: 0;
          margin: auto;
          width: 16px;
          height: 14px;
          background: url("../../../public/Images/chevron-down.svg") no-repeat;
          z-index: 1111;
        }
      }
    }

    ul{
      li{
        font-size: $font-size-16;
        line-height: $line-spacing-24;
        color: $gray-d1;
      }
    }
}
.contact-info__email-phone, .contact-info__shiping-info{
  @include flex(calc(100% + 32px));
  margin: 0 -16px;
  label, p{
    width: 100%;
    font-size: $font-size-16;
    line-height: $line-spacing-24;
    margin-bottom: 4px;
  }
  h5{
    margin: 0 0 8px 16px;
    width: 100%;
  }
}
.contact-info__email-phone{
  padding: 8px 0 32px;
  @include desktop-down{
    padding: 8px 0 24px;
  }
}
.contact-info__contact-data{
  @include flex(100%);
  justify-content: flex-start;
  border: 1px solid $gray-l3;
  border-radius: 2px;
  padding: 24px 32px 24px 24px;
  margin: 0 0 16px;
  @include tablet-down{
    padding: 24px 16px;
    margin: 0 0 16px; 
  }
}
.contact-info__contact-data--title{
  @include flex(100%);
  padding: 0 0 16px;
  h6{
    font-size: $font-size-16;
    font-weight: $font-weight-bold;
    line-height: $line-spacing-20;
  }
  p{
    font-size: $font-size-16;
    line-height: $line-spacing-22;
    color: $primary-brand;
    font-weight: 500;
    position: relative;
    cursor: pointer;
    @include phone-down{
      text-indent: -9999px;
    }
    &::before{
      content: "";
      position: absolute;
      width: 16px;
      height: 16px;
      top: 0;
      left: -23px;
      background: url("../../../public/Images/edit-orange.svg") no-repeat;
      background-size: 100%;
    }
  }
}
.contact-info__contact-data--email-phone{
  width: calc(34.1% + 120px);
  margin-right: 120px;
  max-width: 157px;
  @include tablet-down{
    margin: 0 0 16px;
  }
}
.contact-info__contact-data--name-address{
  max-width: 220px;
  padding: 0 20px 0 0;
  @include tablet-down{
    padding: 0;
  }
}
