header{
 &.header {
    padding: 16px 0;
    border-bottom: 1px solid $gray-l1;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $white;
    z-index: 1111;
    @include desktop-down{
      padding: 23px 0;
    }
    &.fixed{
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 11111;
    }
    span, a{
      color: $unnamed-color-172026;
    }

    li{
      color: $unnamed-color-172026;
      font-weight: 600;
      position: relative;

      a{
        text-decoration: none;
        letter-spacing: 0.8px;
        color: inherit;
        padding: 5px 15px;
        position: relative;
        transition: all ease-out 0.2s;

        &:hover{
          background-color: $athens-gray-eef2f4;
        }
      }

      &.selected {
        a{
          &::after{
            content: "";
            position: absolute;
            bottom: -5px;
            left: 15px;
            width: calc(100% - 30px);
            height: 5px;
            background-color: $cape-palliser-a67744;
          }
        }
      }
    }

    h3{
      font-size: $font-size-32;
      letter-spacing: 1.6px;
      color: $oxford-blue-354e57;
    }

    .column-wrapper, .col-seven, ul{
      position: relative;
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
    }

    .column-wrapper{
      @include desktop-down{
        padding-bottom: 10px;
        &.active{
          .logo, .bar-wrapper, .col-three{
            display: none;
          }
          .mobile-menu{
            width: calc(100% + 40px);
            left: -20px;
            background: $gray 0% 0% no-repeat padding-box;
          }
          .close{
            display: flex;
          }
          .col-seven{
            width: calc(100% + 40px);
            padding: 0 20px;
          }
        }
      }
    }

    ul{
      justify-content: center;
    }

    .col-seven{
      width: 65.5%;
      @include desktop{
        width: 66.5%;
      }
      @include desktop-down{
        flex-direction: column-reverse;
        width: 0;
        position: absolute;
        top: 40px;
        left: -20px;
        overflow: hidden;

        .menu-title{
          display: none;
        }
      }
    }

    .center-menu{
      width: calc(100% - 140px);
      text-align: center;
      @include desktop-down{
        width: 100%;
        text-align: left;
      }
      .product-name{
        display: block;
        ul {
          justify-content: flex-end;
          @include desktop-down{
            display: block;
          }
          li{
            margin-right: 17px;
            font-size: $font-size-16;
            @include desktop-down{
              padding: 16px 0;
              border-bottom: 1px solid $gray-l1;
              &:last-child{
                margin-bottom: 0;
              }
              a{
                padding:0;
                line-height: $line-spacing-24;
              }
            }
            &:last-child{
              margin-right: 0;
            }
            @include desktop-md-down{
              margin-right: 12px;
            }
          } 
        }
      }
    }

    .left-menu{
      width: 120px;
      @include desktop-down{
        width: 100%;
        text-align: left;
        margin: 117px 0 20px;
      }
      ul{
        justify-content: flex-start;
        li{
          margin: 0 16px 0 0;
          &:last-child{
            margin-right: 0;
          }
          @include desktop-down{
            margin: 30px 0;
          }
        }
        @include desktop-down{
          display: block;
        }
      }
    }

    .col-three{
      width: 30%;
      @include desktop-down{
        margin-right: 0;
        position: absolute;
        width: auto;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        z-index: 1111;
      }
      ul{
        justify-content: flex-end;
        li{
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          margin: 0 25px 0 0;
          cursor: pointer;
          &:last-child{
            margin-right: 0;
          }
          span{
            padding: 0 0 0 8px;
            @include desktop-down{
              display: none;
            }
          }
          svg{
            width: 23px;
            height: 23px;
            @include desktop-down{
              width: 18px;
              height: 18px;
            }
          }
          &.user{
            @include desktop-down{
              display: none;
            }
          }
          &#cartBtn {
            span{
              display: inline-block;
              padding: 0;
              position: relative;
              top: -7px;
              color: $primary-d1;
            }
          }
        }
      }
    }

    .mobile-menu{
      display: none;
      @include desktop-down {
        display: flex;
        align-items: center;
        position: absolute;
        width: calc(100% - 80px);
        height: 56px; 
        top: 50%;
        left: 0;
        border-bottom: 1px solid $gray-l1;
        transform: translateY(-50%);
        z-index: 1;
        h3{
          font-size: $font-size-25;
        }
        .bar-wrapper{
          display: flex;
          align-items: center;
          height: 20px;
        }
        svg{
          width: 25px;
          margin: 0 10px 0 0;
          cursor: pointer;
        }
        .close{
          display: none;
          flex-wrap: wrap;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          padding-left: 20px;
          font-weight: 600;
        }
        .logo{
          position: relative;
          left: 50%;
          transform: translateX(-50%);
        }
    }
  }
}
}
