.order-placed{
  padding: 33px 0  40px;
  @include desktop-down{
    padding: 24px 0 40px;
  }
  h1{
    color: $unnamed-color-172026;
    font-family: $font-family-proxima-serif;
    position: relative;
    text-align: center;
    @include tablet-down{
      font-size: $font-size-36;
    }
     &::after{
      content: "";
      position: absolute;
      width: 102px;
      height: 8px;
      bottom: -22px;
      left: 50%;
      background-color: $primary-brand;
      transform: translateX(-50%);
     }

  }
}
.order-placed__column-wrapper{
  @include flex();
  margin: 62px 0 0;
  @include desktop-down{
    margin: 52px 0 0;
  }
  .col-seven{
    width: calc(66%);
    @include desktop-down{
      width: 100%;
    }
  }

  .col-three{
    width: 31.88%;
    @include tablet-down{
      width: 100%;
    }
  }
}