.product-checkout{
  padding: 33px 0  40px;
  @include desktop-down{
    padding: 24px 0 40px;
  }
  h1{
    color: $unnamed-color-172026;
    font-family: $font-family-proxima-serif;
    position: relative;
    text-align: center;
    @include tablet-down{
      font-size: $font-size-36;
    }
     &::after{
      content: "";
      position: absolute;
      width: 102px;
      height: 8px;
      bottom: -22px;
      left: 50%;
      background-color: $primary-brand;
      transform: translateX(-50%);
     }

  }
  h2{
    color: $unnamed-color-172026;
    font-size: $font-size-36;
    line-height: $line-spacing-30;
    font-weight: $font-weight-bold;
    font-family: $font-family-proxima-serif;
    margin-bottom: 20px;
    @include desktop{
      font-size: $font-size-32;
    }
    @include tablet{
      font-size: $font-size-28;
    }
    @include tablet-down{
      font-size: $font-size-24;
      margin-bottom: 16px;
    }
  }
  .btn-secondry{
    max-width: 100%;
    margin: 33px auto 48px;
  }
  .product-kart__pricing{
    padding: 32px 28px 40px 32px;
    box-shadow: 0px 0px 8px #0000000D;
    border: 1px solid #D1D3D6;
    @include desktop-down{
      padding: 24px 0 0;
      border: none;
      box-shadow: initial;
    }
    @include tablet-down{
      width: 100%;
    }
    h5{
      font-size: $font-size-20;
      line-height: $line-spacing-30;
      font-weight: $font-weight-bold;
    }
  }
}

.product-checkout__column-wrapper{
  @include flex();
  .col-seven{
    width: calc(66%);
  }

  .col-three{
    width: 31.88%;
  }
}

.product-checkout--shiping-method, .product-checkout--payment-info{
  h5{
    font-size: $font-size-20;
    line-height: $line-spacing-30;
    font-weight: $font-weight-bold;
    color: $gray-m2;
    padding: 24px 0;
    border: 1px solid $gray-l3;
    border-left: none;
    border-right: none;
  }
}
.product-checkout--shiping-method{
  h5{
    border-top: none;
  }
}