.shipping-method{
  h5{
    padding: 0;
    border: none;
    color: $unnamed-color-172026;
  }
}
.shipping-method__shipping-info, .payment-method__radio-input{
  .wrapper{
    justify-content: flex-start;
    padding: 9px 0;
  }
  label{
    font-size: $font-size-16;
    line-height: $line-spacing-24;
    color: $unnamed-color-172026;
    margin: 0 0 0 15px;
    position: relative;
    top: 5px;
    cursor: pointer;

    span{
      font-weight: $font-weight-bold;
    }
  }
}

.shipping-method__shipping-data{
  @include flex(100%);
  justify-content: flex-start;
  border: 1px solid $gray-l3;
  border-radius: 2px;
  padding: 24px 32px 24px 24px;
  margin: 16px 0 16px;
}

.shipping-method__shipping-data--info{
  max-width: 260px;
  ul{
    li{
      font-size: $font-size-16;
      line-height: $line-spacing-24;
      color: $gray-d1;
    }
  }
}
