@import "./common/font-face";
@import "./common/variables";
@import "./common/global";
@import "./common/buttons";
// @import "./common/aem-grid";

@import "./sections/header.scss";
@import "./sections/hero-banner.scss";
@import "./sections/second-level-banner.scss";
@import "./sections/products-list.scss";
@import "./sections/product-details.scss";
@import "./sections/product-kart.scss";
@import "./sections/product-offer.scss";
@import "./sections/footer.scss";
@import "./sections/product-checkout.scss";
@import "./sections/contact-info.scss";
@import "./sections/shiping-method.scss";
@import "./sections/payment-method.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-family-proxima-muli;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: normal;
  }
  
  li {
    list-style-type: none;
  }
  
  .container {
    max-width: 1413px;
    padding: 0 20px;
    margin: auto;
    position: relative;
    width: 100%;
    @include tablet-down{
      padding: 0 16px;
    }
  }
  section{
    padding: 40px 0;
  }
  
  .wrapper {
    padding: 10px 0;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  
  .input-box {
    width: calc(100% - 130px);
    height: 38px;
    padding: 5px 10px;
    outline: none;
    border: 1px solid;
  }
  .input-wrapper{
    label{
      display: none;
    }
  }

  .check-input{
    input {
      width: 24px;
      height: 24px;
      position: relative;
      appearance: none;
      border: none;

      &::before {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border: 2px solid $gray-m1;
        border-radius: 4px;
        transition: all ease-out 0.3s;
      }

      &::after {
        content: "";
        display: block;
        position: absolute;
        width: 19px;
        height: 16px;
        top: 0;
        left: 9px;
        background: $white url("../../public/Images/check.svg") no-repeat 100%;
        opacity: 0;
        transition: all ease-out 0.3s;
      }

      &:checked {
        &::before {
          border-color: $primary-brand1;
        }

        &::after {
          opacity: 1;
        }
      }
    }
  }

  .radio-input{
    input{
      position: relative;
      appearance: none;
      width: 24px;
      height: 24px;
  
      &::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border: 2px solid $gray-m1;
        border-radius: 50%;
        transition:  all ease-out 0.3s;
      }
  
      &::after{
        content: "";
        position: absolute;
        width: 10px;
        height: 10px;
        background-color: $primary-brand;
        left: 50%;
        top: 50%;
        border-radius: 50%;
        transform: translate(-34%, -32%);
        opacity: 0;
        transition: all ease-out 0.3s;
      }
  
      &:checked{
        &::before{
          border-color: $primary-brand;
        }
        &::after{
          opacity: 1;
        }
      }
    }
  }
  
   
  @include tablet-down {
    section{
      padding: 20px 0;
    }
  }
  body{
    &.menu-mobile{
      @include desktop-down{
        overflow: hidden;
      }
      .header{
        position: fixed;
        top: 0;
        left: 0;
        width: calc(100% - 32px);
        height: 100%;
        background-color: $primary-brand;
        overflow: hidden;
        z-index: 1111;
      }
    }
  
  }

  .loader-container {
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: rgba(0, 0, 0, 0.834);
    z-index: 11111;
}

.spinner {
    width: 64px;
    height: 64px;
    border: 8px solid;
    border-color: $primary-brand transparent $primary-brand transparent;
    border-radius: 50%;
    animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}