@import "variables";

// Edit default button style here

#productQuantity{
  font-size: $font-size-16;
  font-weight: 600;
  width: 111px;
  padding: 11px 0;
  margin: 0 12px;
  border: 2px solid $gray-m1;
  border-radius: 8px;
  text-align: center;
  @include phone-down{
    width: 169px;
  }
}

.decrease, .increase{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: $font-size-28;
  font-weight: 600;
  color: $gray-m1;
  width: 32px;
  height: 32px;
  padding: 6px;
  border: 2px solid $gray-m1;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;

  &.disabled{
    pointer-events: none;
    background-color: $gray-l4;
  }
}

.kart-btn{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  max-width: 318px;
  text-transform: capitalize;
  color: $white;
  background-color: $primary-brand;
  cursor: pointer;
  transition: all ease-out 0.3s;
  span{
    display: block;
    padding: 15px 0 9px;
    font-size: 14px;
    line-height: $line-spacing-16;
    font-weight: bold;
  }
  &:hover{
    background-color: $primary-d1;
  }
}

.kart-btn-with-icon{
  background: $primary-brand url("../../../public/Images/smile.svg") no-repeat 58px 8px;
  &:hover{
    background: $primary-d1 url("../../../public/Images/smile.svg") no-repeat 58px 8px;
  }
}

.btn-secondry{
  display: block;
  min-width: 160px;
  height: 40px;
  background-color: $white;
  color: $primary-brand;
  border: 2px solid $primary-brand;
  cursor: pointer;
  transition: all ease-out 0.3s;
  span{
    display: inline-flex;
    justify-self: center;
    align-self: center;
    font-size: $font-size-14;
    font-weight: $font-weight-bold;
    line-height: $line-spacing-16;
    padding: 11px 57px 9px;
    @include phone-down{
      padding: 11px 30px 9px;
    }
  }
  &:hover{
    border-color: $primary-d1;
    color: $primary-d1;
  }
}
