@import "./variables";

.heading-1 {
  font-size: $font-size-48;
  line-height: $line-spacing-45;
}
.heading-2 {
  font-size: $font-size-40;
  line-height: $line-spacing-48;
}

.heading-3 {
  font-size: $font-size-32;
  line-height: $line-spacing-38;
}
.heading-5 {
  font-size: $font-size-18;
  line-height: $line-spacing-24;
}
.heading-4 {
  font-size: $font-size-28;
  line-height: $line-spacing-34;
}

.heading-6{
  font-size: $font-size-14;
  line-height: $line-spacing-17;
}

.body-text-black{
  color: #000000 !important;
}

.padding-0{
  padding: 0;
}
.padding-top-60{
  padding-top: 60px;
}
.padding-top-80{
  padding-top: 80px;
}
.padding-bottom-60{
  padding-bottom: 60px;
}
.padding-top-80{
  padding-top: 80px;
}
.padding-top-120{
  padding-top: 120px;
}

@include desktop-down {
  .padding-top-60, .padding-top-80, .padding-top-120{
    padding-top: 20px;
  }
  .padding-bottom-60, .padding-bottom-80{
    padding-bottom: 20px;
  }
}